.generateButton {
    margin-top: 10%;
    width: 400px;
    height: 100px;
    border-width: 4px;
    background-color:rgb(229, 149, 229);
    border-color: black;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
    position: relative;
    border-radius: 15px;
}