.react-grid-layout {
    position: relative;
    margin-right: 50%;
    transition: height 200ms ease;
}
.react-grid-item {
    transition: all 200ms ease;
    transition-property: left, top;
}
.react-grid-item.cssTransforms {
    transition-property: transform;
}
.react-grid-item.resizing {
    z-index: 1;
}

.react-grid-item.react-draggable-dragging {
    transition: none;
    z-index: 3;
}

/* .react-grid-item.react-grid-placeholder {
    background: #f5b9e1;
    opacity: 0.1;
    transition-duration: 100ms;
    z-index: 2;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
} */

.wordBox {
    width: 170px;
    height: 110px;
    border-width: 5px;
    border-color:black;
    background-color: #e893ec;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
  }