.react-grid-layout {
    position: relative;
    margin-right: 50%;
    transition: height 200ms ease;
}
.react-grid-item-visible {
    transition: all 200ms ease;
    transition-property: left, top;
}

.react-grid-item-visible.cssTransforms {
    transition-property: transform;
}
.react-grid-item-visible.resizing {
    z-index: 1;
}

.react-grid-item-visible.react-draggable-dragging {
    transition: none;
    z-index: 3;
}

.react-grid-item-visible:hover * {
    background-color: #f4cff5;
    transition-duration: 120ms;
}
.react-grid-item-invisible {
    visibility: hidden
}

.wordBox {
    width: 170px;
    height: 110px;
    border-width: 5px;
    border-color:black;
    background-color: #e893ec;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
  }

.wordBox-active {
    border-color: rgb(96, 16, 123);
    background-color: #f4cff5;
    width: 170px;
    height: 110px;
    border-width: 5px;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}

.wordBox-inactive {
    width: 170px;
    height: 110px;
    border-width: 5px;
    border-color:black;
    background-color: #e893ec;
    padding: 14px 28px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}

.wordBox-hidden {
    visibility: hidden;
}

.checkButton {
    margin-top: 2%;
    width: 400px;
    height: 100px;
    border-width: 4px;
    background-color:rgb(229, 149, 229);
    border-color: black;
    padding: 14px 28px;
    font-size: 16px;
    text-align: center;
    position: relative;
    border-radius: 15px;
}
